/* Mobile */

@media (max-width: 600px) {
    .top-search-controls {
        width: calc(100vw - 24px);
    }

    .search-box {
        width: auto;
        flex: 1 1 auto;
    }

    .filter-control {
        right: 12px;
        bottom: 18px;
    }

    .filter-panel {
        width: 250px;
    }
}
